html 

    {   background:url("maison_connectee.jpg") no-repeat center;
        background-repeat: no-repeat;
        background-size: cover; 
        background-attachment: fixed;
    }
  
    .erreur {color: #FF0000;
      position:relative;
      top:30px;
      left:30px;
    }
  
    .aligner{position:relative;
      top:30px;
      left:30px;
      color:#f8f5e0;
      font-size:20px;
    }
  
    .button{position:relative;
      top:30px;
      left:30px;
      width:300px;
      height:50px;
    }
    .ligne{
        position:relative;
        top:30px;
        left:30px;
}
  
    #logo1 {
    	position:fixed;
    	bottom: 70px;
    	right:20px;
    	background: url() 0 0;
    }
  
    div.static {
    position: fixed;
    top:50px;
    left:15%;
    font-size:45px;
    color :#3e9ff0;
  }
