html {
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Images/bgall3.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  color: whitesmoke;
}

#logo{
  position : absolute;
  top : -10px;
  right : 0px;
  z-index: 2;
  width: auto;
  height: 12%;
}

/* Create a column layout with Flexbox */
.row {
  min-height: 0;
}

/* Left column (menu) */
.Menu {
  width: 25%;
  min-width: 150px;

  padding: 15px 0;
  background-color: lightgray; /*#4CAF50 beau vert*/

  height: 90%;

  position: fixed;
  overflow-x: auto;
  margin-right: 0px;
}

/* Right column (page content) */
.Elements {
  padding: 15px;
  background-color: rgba(250, 250, 250, 0.8);
  display: none;

  height: 90%;
  position: fixed;

  left: 25.6%;
  width: 73.6%;
  margin-left: 0px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border:1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  backgrxound-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
#myMenu li a:focus {
  background-color: #4CAF50;
}